body{
    background-color: lightgray;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
    margin-bottom: 10%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 50px;
}
.half-width{
    width: 50%;
   padding-left: 5%;
}
.img-1{
    height: 500px;
    width: 500px;
    border-radius: 50%;
}
.button{
    text-decoration: none;
    background-image: radial-gradient(orange,tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
 .img-2{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    padding-left: 50px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.shadow{
    box-shadow: 10px 10px 40px black;
    width: 40%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    border-radius: 10px;
}
#one{
    border-left: 10px solid tomato;
}
#two{
    border-left: 10px solid blue;
}
.copy{
    text-align: center;
    background-color: darkgray;
    padding: 20px;
    margin-bottom: 0;
}
